ul#css3menu1,ul#css3menu1 ul{
	margin:0;list-style:none;padding:0;background-color:#c1c2c3;background-image:url("/scriptcase/devel/conf/grp/IS2/img/menu_img/bgTickets.png");}
ul#css3menu1 ul{
	display:none;position:absolute;left:100%;top:0;-moz-box-shadow:3.5px 3.5px 5px #000000;-webkit-box-shadow:3.5px 3.5px 5px #000000;box-shadow:3.5px 3.5px 5px #000000;background-color:#abea65;background-image:none;}
ul#css3menu1 li:hover>*{
	display:block;}
ul#css3menu1 li{
	position:relative;display:block;white-space:nowrap;font-size:0;}
ul#css3menu1 li:hover{
	z-index:1;}
ul#css3menu1 ul ul{
	position:absolute;left:100%;top:0;}
ul#css3menu1{
	font-size:0;z-index:999;position:relative;display:inline-block;zoom:1;padding:0;
	*display:inline;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:left;text-decoration:none;font-style:none;font-size:12px;font-family:Arial, Arial, sans-serif;color:#4e4e4e;text-shadow:#FFF 0 0 1px;cursor:pointer;padding:10px;background-image:url("/scriptcase/devel/conf/grp/IS2/img/menu_img/bgTickets.png");background-color:#c1c2c3;}
ul#css3menu1 ul li{
	float:none;padding-left: 16px;}
ul#css3menu1 ul a{
	text-align:left;padding:4px;background-color:#abea65;background-image:none;font-style:none;font-size:12px;font-family:Arial, Arial, sans-serif;color:#4e4e4e;text-decoration:none;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#f4f4f4;color:#4e4e4e;text-shadow:#FFF 0 0 1px;background-image:none;background-position:0 100px;text-decoration:none;}
ul#css3menu1 span{
	display:block;overflow:visible;background-position:right center;background-repeat:no-repeat;padding-right:0px;background-image:url('../../img/arrow_in_new.gif');padding-right:28px;}
ul#css3menu1 ul span{
	background-image:url('../../img/arrow_out_new.gif');padding-right:28px;}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li a.pressed{
	background-color:#f4f4f4;background-image:none;color:#4e4e4e;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	}
ul#css3menu1 li.toplast>a{
	}
ul#css3menu1 img {
    border: none; vertical-align: middle; margin-right: 10px;}
.scdisabledmain{
 color:#8e8e8e !important;
}
.scdisabledsub{
 color:#8e8e8e !important;
}
.scMenuHTableCssAlt{
 
}
