.css_back_codigo_label {text-align:;}
.css_back_codigo_line {text-align:left;}
.css_back_codigo_obj {text-align:left;}
.css_proy_codigo_label { }
.css_proy_codigo_line {text-align:left;}
.css_proy_codigo_obj {text-align:left;}
.css_historias_label { }
.css_historias_line { }
.css_historias_obj { }
