.scExportPage { background-color: #afb1b5; background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 20px }
.scExportTable { background-color: #fafbfe; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #fff; border-style: none; border-width: 0; height: 130px; width: 500px }
.scExportTitle { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #c6d0dc; border-width: 1px; color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; padding: 5px 10px; text-decoration: none; vertical-align: middle }
.scExportLine { background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 3px 10px 3px 10px; vertical-align: middle }
.scExportLineFont { color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-decoration: none }
.scExportBar { border-collapse: collapse; height: 20px !important; background-color: #f5f5f5 !important; margin: 10px 0 }
.scExportBarRest { background-color: #f5f5f5 !important; background-image: none !important; opacity: 1; filter: alpha(opacity=100); border-style: none !important; padding: 0; box-shadow: inset 0px -1px 1px rgba(0,0,0,.15) }
.scExportBarDone { background-color: #337ab7 !important; background-image: none !important; opacity: 1; filter: alpha(opacity=100); border-style: none !important; padding: 0; box-shadow: inset 0px 1px 2px rgba(0,0,0,.1) }
.ui-progressbar-value { background-color: #337ab7 !important; background-image: none !important; opacity: 1; filter: alpha(opacity=100); border-style: none !important; padding: 0; box-shadow: inset 0px 1px 2px rgba(0,0,0,.1) }
