.scMenuHPage { margin: 0; background-color: #afb1b5; background-image: none; background-position: center center; background-repeat: no-repeat }
.scMenuLine { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuToolbar { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: none; border-width: 1px; padding: 2px; margin: 0 }
.scMenuToolbarPadding { padding: 2px }
.scMenuIframe { background-color: #FFFFFF; background-image: url(../../img/grp__NM__menu_img__NM__Logo_fameco.jpeg); background-position: center center; background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100); border-width: 0; margin: 0; width: 100%; height: 100% }
.scMenuHTable { background-color: #fafbfe; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHTableCss { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHHeader { background-color: #727cf5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #727cf5; border-style: solid; border-width: 1px }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Roboto,Arial; font-size: 12px; padding: 0; text-decoration: none }
.scMenuHFooter { background-image: none; opacity: 1; filter: alpha(opacity=100) }
.scMenuHFooterFont { color: #999999; font-family: Roboto,Arial; font-size: 12px; font-weight: bold; text-decoration: none }
.scMenuHItem { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Roboto,Arial; font-size: 12px; color: #313a46; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHItemDisabled { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Roboto,Arial; font-size: 12px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHItemOver { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Roboto,Arial; font-size: 12px; color: #313a46; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItem { background-color: #FFFFFF; font-family: Roboto,Arial; font-size: 12px; color: #313a46; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemDisabled { background-color: #FFFFFF; font-family: Roboto,Arial; font-size: 12px; color: #C0C0C0; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuHSubItemOver { background-color: #F3F7FB; font-family: Roboto,Arial; font-size: 12px; color: #313a46; padding: 3px 10px 3px 3px; text-decoration: none; font-style: normal }
.scMenuBreadcrumbLine { background-color: #F5F5F5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; margin: 10px 20px; padding: 8px 15px; vertical-align: middle }
.scMenuBreadcrumbLine a { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Roboto,Arial; font-size: 12px; padding: 0 5px; text-decoration: none; vertical-align: text-bottom }
.scMenuBreadcrumbLine a:hover { text-decoration: underline; color: #313a46 }
.scMenuBreadcrumbLine img { position: relative; top: 1px }
.scMenuExpand { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px }
.scMenuCollapse { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px; display: none }
