.scCalendarPage { background-color: #afb1b5; background-image: none; opacity: 1; filter: alpha(opacity=100); margin: 20px }
.scCalendarBorder { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #E0E6ED; border-style: none; border-width: 1px }
.scCalendarBorderPadding { padding: 0 }
.scCalendarToolbar { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: none; border-width: 1px; margin: -6px !important }
.scCalendarInput { background-color: #f9fafc; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: rgba(0,0,0,.05); border-style: solid; border-width: 1px; color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-decoration: none; vertical-align: middle }
.scCalendarInput:focus { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #66afe9; color: #313a46; box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) }
.scCalendarTabela { background-color: #fafbfe; background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse; border-color: #fff; border-style: none; border-width: 0 }
.scCalendarWeekday { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-decoration: none }
.scCalendarMonthday { background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-decoration: none }
.scCalendarMonthdayFont { color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-decoration: none }
.scCalendarSelectedday { background-color: #FCFCEE; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: solid; border-width: 1px; color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-decoration: none }
.ui-datepicker-trigger { vertical-align: middle; margin: 2px; background: none; border: none; padding: 0 }
.ui-datepicker { display: none }
.ui-icon { text-indent: 99999px !important }
.scFormPage .ui-datepicker, .scFormPage .ui-datepicker .ui-datepicker-header { border-color: #fff }
.ui-datepicker,.ui-datepicker > .ui-datepicker-header { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100); padding: 0 }
.ui-datepicker, .ui-datepicker > .ui-state-default { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-align: center; text-decoration: none }
.ui-datepicker > .ui-state-active { background-color: #FCFCEE; background-image: none; opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Roboto,Arial; font-size: 12px; font-style: normal; text-align: center; text-decoration: none }
.recur_info_table { border-collapse: collapse; border-width: 0 }
.recur_info_cell { padding: 1px 4px; white-space: nowrap; vertical-align: top }
.recur_info_label { text-align: right }
.recur_info_after { width: 75px }
.recur_info_in { width: 100px }
.sc-cal-categ { display: inline-block; min-width: 200px; padding: 0 }
.sc-cal-categ-input { display: table; width: 100% }
.sc-cal-categ-input-content { display: table-cell; padding: 3px 10px }
.sc-cal-categ-input-caret { display: table-cell; width: 25px; padding: 3px 0; border-color: #ddd; border-style: solid; border-width: 0 0 0 1px; font-size: 10px; text-align: center; vertical-align: middle }
.sc-cal-categ-dropdown { display: none; position: absolute; z-index: 1000; padding: 0; background-color: #fff; border-color: #aaa; border-style: solid; border-width: 1px }
.sc-cal-categ-colorbox { display: inline-block; width: 16px; height: 16px; margin: 0 2px }
.sc-cal-categ-item { padding: 3px 10px; min-height: 10px }
.sc-cal-categ-selected { background-color: #5484ed;; color: #fff }
