.scMenuTPage { background-color: #afb1b5; background-image: none; background-position: center center; background-repeat: no-repeat }
.scMenuTTable { background-color: #fafbfe; background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; border-width: 0; border-color: #fff; border-collapse: collapse }
.scMenuIframe { background-image: url(../../img/grp__NM__menu_img__NM__Logo_fameco.jpeg); background-position: center center; background-repeat: no-repeat; opacity: 1; filter: alpha(opacity=100); width: 100%; height: 100% }
.scMenuTHeader { background-color: #727cf5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #727cf5; border-style: solid; border-width: 1px; border-collapse: collapse }
.scMenuTHeaderFont { color: #FFFFFF; font-family: Roboto,Arial; font-size: 12px; text-decoration: none }
.scMenuTFooter { background-image: none; opacity: 1; filter: alpha(opacity=100); border-collapse: collapse }
.scMenuTFooterFont { color: #999999; font-family: Roboto,Arial; font-size: 12px; font-weight: bold; text-decoration: none }
.scMenuTItems { font-family: Roboto,Arial; font-size: 12px; color: #313a46; background-image: none; opacity: 1; filter: alpha(opacity=100); font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemsFont { font-family: Roboto,Arial; font-size: 12px; color: #313a46; font-style: normal; text-decoration: none }
.scMenuTItem { font-family: Roboto,Arial; font-size: 12px; color: #313a46; background-image: none; opacity: 1; filter: alpha(opacity=100); font-style: normal; text-decoration: none; white-space: nowrap }
.scMenuTItemSel { color: #313a46 }
.scMenuTItemDisabled { color: #C0C0C0 }
.scMenuTSubItemDisabled { color: #C0C0C0 }
.jstree a.scMenuTItem:visited { color: #313a46 }
.jstree-default .jstree-hovered, .jstree-default .jstree-wholerow-hovered { background-color: #EFF2F7; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Roboto,Arial; font-size: 12px; color: #313a46; text-decoration: none }
.jstree-default .jstree-hovered span, .jstree-default .jstree-hovered a, .jstree-default .jstree-wholerow-hovered span, .jstree-default .jstree-wholerow-hovered a { font-family: Roboto,Arial; font-size: 12px; color: #313a46; text-decoration: none }
.jstree-default .jstree-clicked, .jstree-default .jstree-wholerow-clicked { background-color: #E0E6ED; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Roboto,Arial; font-size: 12px; color: #313a46; text-decoration: none }
.jstree-default .jstree-clicked span, .jstree-default .jstree-clicked a, .jstree-default .jstree-wholerow-clicked span, .jstree-default .jstree-wholerow-clicked a { font-family: Roboto,Arial; font-size: 12px; color: #313a46; text-decoration: none }
.scMenuBreadcrumbLine { background-color: #F2F2F2; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #D5D5D5; border-style: solid; border-width: 1px; margin: 5px; padding: 7px 5px; vertical-align: middle }
.scMenuBreadcrumbLine a { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Roboto,Arial; font-size: 12px; padding: 0 5px; text-decoration: underline; vertical-align: middle }
.scMenuTExpand { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px }
.scMenuTCollapse { background-image: none; opacity: 1; filter: alpha(opacity=100); position: absolute; right: 10px; top: 10px; display: none }
li.jstree-open > a .jstree-icon { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_folder_opened.png); background-position: center center; background-size: auto auto; background-repeat: no-repeat }
li.jstree-closed > a .jstree-icon { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_folder_closed.png); background-position: center center; background-size: auto auto; background-repeat: no-repeat }
li.jstree-leaf > a .jstree-icon { background-image: url(../../img/scriptcase__NM__btn__NM__scriptcase9_Rhino__NM__nm_scriptcase9_Rhino_file.png); background-position: center center; background-size: auto auto; background-repeat: no-repeat }
.jstree-icon.jstree-themeicon.fas, .jstree-icon.jstree-themeicon.fab { background: none }
.scTabText { display: inline-block !important; overflow: hidden !important; white-space: nowrap !important }
