.context-menu-list { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #E0E6ED; border-style: none; border-width: 1px }
.context-menu-item { background-color: #FFFFFF; background-image: none; font-family: Roboto,Arial; font-size: 12px; color: #313a46; text-decoration: none; font-style: normal; border-style: solid; border-width: 0 0 1px 0; border-color: #E0E6ED; padding: 5px 10px }
.context-menu-item.hover { background-color: #1FB6FF; background-image: none; font-family: Roboto,Arial; font-size: 12px; color: #313a46; text-decoration: none; border-style: solid; border-width: 0 0 1px 0; border-color: #E0E6ED; padding: 5px 10px }
