.SC_SubMenuApp .scBtnGrpBackground { background-color: #fafbfe; border-color: #fff; border-style: none; border-width: 0; border-collapse: collapse; padding: 0; z-index: 99999; text-align: left }
.SC_SubMenuApp .scBtnGrpText { background-color: #FFFFFF; padding: 6px 52px 6px 15px; cursor: pointer; white-space: nowrap; color: #313a46 }
.SC_SubMenuApp .scBtnGrpTextOver { background-color: #EFF2F7 }
.SC_SubMenuApp .scBtnGrpLink { color: #313a46; font-family: Roboto,Arial; font-size: 12px; text-shadow: 12px; text-decoration: none }
.SC_SubMenuButton .scBtnGrpBackground { text-align: left }
.SC_SubMenuButton { z-index: 1000 }
.SC_SubMenuApp { z-index: 1000 }
