.scErrorTable { background-color: #fafbfe; box-shadow: 0 0 35px 0 rgba(154,161,171,.15); background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #fff; border-style: none; border-width: 0; height: 30px; width: 320px }
.scErrorTitle { background-image: none; opacity: 1; filter: alpha(opacity=100); border-style: none; color: #823040; font-family: Roboto,Arial; font-size: 12px; padding: 4px; text-decoration: none; vertical-align: middle }
.scErrorTitleFont { color: #823040; font-family: Roboto,Arial; font-size: 12px; text-decoration: none }
.scErrorMessage { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #823040; font-family: Roboto,Arial; font-size: 12px; padding: 10px; text-decoration: none }
.scErrorMessageFont { color: #823040; font-family: Roboto,Arial; font-size: 12px; text-decoration: none }
.scErrorLine { background-image: none; opacity: 1; filter: alpha(opacity=100); color: #313a46; font-family: Roboto,Arial; font-size: 12px; padding: 12px 15px; letter-spacing: 0px; text-decoration: none }
