.scMenuHHeader { background-color: #727cf5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #727cf5; border-style: solid; border-width: 1px }
_:-ms-lang(x), .ie10up, .scMenuHHeader { border-collapse: separate }
.scMenuHHeaderFont { color: #FFFFFF; font-family: Roboto,Arial; font-size: 12px; text-shadow: none; padding: 0; text-decoration: none }
.ui-body-a, .ui-overlay-a, .ui-body-c, .ui-overlay-c { background-color: #fff; background-image: none; opacity: 1; filter: alpha(opacity=100) }
.ui-bar-b { color: #FFFFFF; font-family: Roboto,Arial; font-size: 12px; padding: 0; text-align: left; text-decoration: none; background-color: #727cf5; background-image: none; opacity: 1; filter: alpha(opacity=100); border-color: #727cf5; border-style: solid; border-width: 1px }
.ui-btn-up-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Roboto,Arial; font-size: 12px; text-shadow: none; color: #313a46; text-decoration: none; font-style: normal }
.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit { color: #313a46 }
.ui-btn-hover-a { background-color: #FFFFFF; background-image: none; opacity: 1; filter: alpha(opacity=100); font-family: Roboto,Arial; font-size: 12px; text-shadow: none; color: #313a46; text-decoration: none; font-style: normal }
.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit { color: #313a46; background-color: #FFFFFF }
